[Unit]
Description=APP_NAME
Requires=network.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=APP_DEST
ExecStart=/usr/bin/bash -lc 'export $(cat .env | xargs) && RAILS_ENV=production bundle exec rails server -b 0.0.0.0 -p DEPLOYMENT_PORT'
TimeoutSec=30
RestartSec=15s
Restart=always
 
[Install]
WantedBy=multi-user.target
